body{
    background-color:#5188e0;
}
#bio-image1{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image1:hover{
    padding:1px;
    border:1px solid #021a40;
}
#bio-image2{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image2:hover{
    padding:1px;
    border:1px solid #021a40;
}
#bio-image3{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image3:hover{
    padding:1px;
    border:1px solid #021a40;
}
#bio-image4{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image4:hover{
    padding:1px;
    border:1px solid #021a40;
}
#bio-image5{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image5:hover{
    padding:1px;
    border:1px solid #021a40;
}
#bio-image6{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#bio-image6:hover{
    padding:1px;
    border:1px solid #021a40;
}
.container{
    background-color: white;
    padding-left: 20px;
    padding-bottom: 80px;
}
h2{
    color: white;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    background:darkkhaki;
    color: black;
    text-align: center;
}