#bio-image1{
    width: 400px;
    height: 400px;
}
#bio-image2{
    width: 400px;
    height: 400px;
}#bio-image3{
    width: 400px;
    height: 400px;
}#bio-image4{
    width: 400px;
    height: 400px;
}#bio-image5{
    width: 400px;
    height: 400px;
}#bio-image6{
    width: 400px;
    height: 400px;
}